<head>
    <%- include("../fragmente/head.ejs") %>
</head>
<footer>
    <address>
        <p>Date contact:</p>
        <p>Telefon: <a href="tel:+40766691308">+40 766 691 308</a></p>
        <p>Adresă: <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Bucuresti">Str.
                Academiei nr. 14, București</a></p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.885629334555!2d26.10050682674782!3d44.43522577107288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83%2C%20Universitatea%20din%20Bucure%C8%99ti!5e0!3m2!1sro!2sro!4v1709929271953!5m2!1sro!2sro"
            allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <p>E-mail: <a href="mailto:contact@V&B.ro">contact@V&B.ro</a></p>
        <p>Chat: <a href="https://wa.me/40766691308">WhatsApp</a></p>
    </address>
    <p><small>&copy; 2025 V&B. Drepturi rezervate.</small></p>
    <p><small>Pagină creată la data de <time datetime="2025-03-07">7 martie 2025</time></small></p>

    <!-- Buton back-to-top -->
    <a href="#" class="back-to-top" title="Înapoi sus">
        <div class="back-to-top-circle">
            <div class="back-to-top-arrow">↑</div>
        </div>
    </a>
</footer>