<title>V&B</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="bazar muzica, promotii inregistrari, inregistrari, muzica, cd, vinil, caseta">
<meta name="description" content="Bazar online de muzica. Cumpara viniluri si echipamente audio pentru pasionati si profesionisti.">
<meta name="author" content="Iulia Georgescu">
<meta name="msapplication-TileColor" content="#A52A2A">
<link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg">
<link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png">
<link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest">
<link rel="stylesheet" type="text/css" href="/resurse/css/general.css">
<link rel="stylesheet" type="text/css" href="/resurse/css/nav.css">
<!-- <link rel="stylesheet" type="text/css" href="/resurse/css/stilizare-linkuri.css"> -->
<link rel="stylesheet" type="text/css" href="/resurse/css/video.css">
<!-- Efecte CSS pentru HR cu gradient radial și baloane -->
<link rel="stylesheet" type="text/css" href="/resurse/css/efecte.css">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!-- JavaScript pentru meniu -->
<script src="/resurse/js/nav.js" defer></script>